*{
    background-color: #f3f3f3;
}

/* nav css */
.nav{
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.nav a{
    margin: 1em 1em;
    display: flex;
}

#name{
    margin: 1% 0%;
    padding-left: 0.5em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: orangered;
}

.links{
    display: flex;
    float: right;
    margin-left: 62%;
}


/* main css */
.mid{
    display: flex;
}

#heading{
    padding-top: 5%;
    padding-left: 10%;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Work Sans', sans-serif;
}

#sub{
    margin-top: -4%;
    padding-left: 14%;
    font-style: oblique;
}

.right{
    margin-top: -11%;
    margin-left: 12%;
    margin-bottom: 5%;
    border: 2px solid orange;
    padding: 2% 2%;
}

.right-heading{
    font-family: 'Work Sans', sans-serif;
    
}

.left{
    margin-top: 4%;
    margin-left: 15%;
    width: 30%;
    height: 10%;
    border: 2px solid orange;
    padding: 2% 2%;
}

.details{
    font-size: large;
    font-style: italic;
    margin-left: 30%;
    margin-top: -5%;
}

.social{
    display: flex;
    width: 50%;
    padding-top: 5%;
    padding-left: 5vw;
}

.name{
    margin-top: 0%;
    margin-left: 10%;
}


/* footer css */
.footer{
    display: flex;
    justify-content: space-evenly;
}

.content{
    margin-top: -3vh;
    font-style: oblique;
}

.content-add{
    font-style: oblique;
}

.content a{
    margin-right: 1vw;
}