*{
    background-color: #f3f3f3;
}

/* nav css */
.nav{
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.nav a{
    margin: 1em 1em;
    display: flex;
}

#name{
    margin: 1% 0%;
    padding-left: 0.5em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: orangered;
}

.links{
    display: flex;
    float: right;
    margin-left: 62%;
}


/* main css */
#heading{
    padding-left: 10%;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Work Sans', sans-serif;
}

.sub-heading{
    font-size: 2em;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.container{
    display: flex;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 10%;
}

.container1{
    margin-top: -1%;
    display: flex;
    padding-bottom: 7%;
    padding-left: 10%;
}

.left{
    width: 40%;
}

.project-content{
    text-indent: 3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-style: oblique;
}

.project-subcontent{
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-style: oblique;
}


.right{
    margin-left: 5%;
    padding: 5px 5px;
    border: 2px dashed black;
}

.right img{
    height: 60vh;
    width: 40vw;
}


/* footer css */
.footer{
    display: flex;
    justify-content: space-evenly;
}

.content{
    margin-top: -3vh;
    font-style: oblique;
}

.content-add{
    font-style: oblique;
}

.content a{
    margin-right: 1vw;
}